body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo .logo-color {
    color: #2e2f42;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

h2 {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 700;
}

.hero {
    border-radius: 2px;
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFF;
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.features-title {
    font-size: 26px;
    text-align: justify;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-menu-item {
    background-color: #fff
    ;
}
.team-title,
.portfolio-title {
    text-align: center;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo .logo-color {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}