body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 700;
}

.header {
    background-color: #FFFFFF;
}

.header-nav:hover,
.header-nav:focus {
    color: #404bbf;
}
.header-address:hover,
.header-address:focus {
    color: #404bbf;     
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-logo-color,
.footer-logo-color {
    color: #4D5AE5;
}

.header-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}  
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf; 
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
} 

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;     
}

.hero {
    border-radius: 2px;
    background-color: #2E2F42;
}

.hero-title {
    background-color: #2E2F42;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.features {
    background-color: #FFFFFF;
}

.features-title {
    font-size: 26px;
    line-height: 111%;
    text-align: justify;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}
.team-title,
.portfolio-title {
    text-align: center;
}

.team-menu-item {
    background-color: #FFFFFF;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    background-color: #FFFFFF;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}